<header>
    <img src="/static_files/images/msnos-map.png" />

    <p>MSNOS is a library built in order to mantain and survive a microservice based architecture :) Every microservice will surface spontaneously in a cloud, without the need of any application configuration.
    <p>Released under the MIT License.<br><a href="https://github.com/workshare/ms-nos">https://github.com/workshare/ms-nos</a></p>

    <p style="font-size:smaller;">Source code for this interface<br><a href="https://github.com/albinotonnina/ms-nos-frontend">https://github.com/albinotonnina/ms-nos-frontend</a> </p>
</header>

<h2>Public APIs</h2>
<ul id="publicapis" class="items accordion"></ul>