<div class="slide">
    <h1>really service oriented</h1>

    <p>Unlike other solutions available on the market msnos is a library directly linked to your service, not to the machine.</p>

</div>
<div class="slide">

    <h1>fault resilient</h1>

    <p>An internal checking system is provided so that if any microservice become unhealthy it stops receiving calls.</p>
</div>
<div class="slide">


    <h1>language agnostic</h1>

    <p>Native language API for Java, Ruby and .NET are available, and linking the code is usually a matter of few lines of code.</p>


</div>
<div class="slide">


    <h1>completely transparent</h1>

    <p>adding or removing microservices is completely transparent: new APIs are automatically recognized and used by every other service.</p>

</div>
<div class="slide">


    <h1>out of the box front-end proxy</h1>

    <p>A fast http non-blocking i/o proxy is available out of the box, and it will automatically expose any public API of the cloud to your applications.</p>

</div>
<div class="slide">


    <h1>geo-location aware</h1>

    <p>Each service knows where he’s located and takes active routing decisions based on his location in the globe.</p>

</div>
<div class="slide">


    <h1>advanced routing</h1>

    <p>The load is distributed through advanced strategies, based on load, location, availability, stickiness</p>

</div>
<div class="slide">


    <h1>open source</h1>

    <p>msnos is fully open source under the MIT license, and under active development by Workshare ltd</p>

</div>