<div class="bio bruno">
    <div class=" circular"></div>
    <h3><a href="mailto:bruno.bossola@workshare.com">Bruno Bossola</a></h3>
    <p>
        <strong>VP of Engineering at Workshare</strong><br>
        Bruno Bossola starts coding in LM on a Vic20, then working in C since 1988, in Java since 1996.
        He developed distributed objects and large scale application for the enterprise using RMI, CORBA and J2EE.
        In 1999 he coaches one of the first group that adopts XP method in Italy.
        In 2002 he has co-founder of Java User Group Torino, in 2005 he's recognized as Java Champion,
        He has been promoting Java technologies as a speaker in Italy at developer conferences like Webbit, AgileDay,
        JavaConference, Javaday and in Europe at Devoxx, Jazoon and Geecon.
        Now he settled in London and enjoys the weather :)
    </p>
</div>

<div class="bio rhys">
    <div class=" circular"></div>
    <h3><a href="mailto:rhys.davies901@gmail.com">Rhys Davies</a></h3>
    <p>
        <strong>Backend Developer at Workshare</strong><br>
        Rhys is an Arch Linux enthusiast and AUR repository contributor, functional programming nut and guitarist.
        Away from the heady heights of building n-tier server side applications, he focuses on writing C++ and D
        programs that generate sound and algorithmically decompose music.
        Half man, half coffee.
    </p>
</div>

<div class="bio maria">
    <div class=" circular"></div>
    <h3><a href="mailto:mariaclrd@gmail.com">Maria Calderon Rodriguez</a></h3>
    <p>
        <strong>Ruby Junior Developer at Workshare</strong><br>
        Student of Telecommunications Engineering by the University of Seville (Spain) and
        currently employed as Ruby Junior Developer at Workshare in London.
        RubyNos is my final degree project.
    </p>
</div>