
<div class="network-image-container">
    <div>
        <div>
            <img src="/static_files/images/msnos-network.png" class="msnos-network" />
            <img src="/static_files/images/network-shadow.png" class="network-shadow" />
        </div>


    </div>

</div>


<h1>A lightweight library built to survive your microservices architecture: your APIs, in the cloud, self discovered.</h1>

<a href="#about" class="discover">Discover me <span class="icon-chevron-down"></span></a>