<div id="background-region"></div>

<ul class="menu" id="menu">
    <li data-menuanchor="home"><a href="#home">Home</a></li>
    <li data-menuanchor="about"><a href="#about">about</a></li>
    <li data-menuanchor="how"><a href="#how">how it works</a></li>
    <li data-menuanchor="visualization"><a href="#visualization">live visualization</a></li>
    <li data-menuanchor="contacts"><a href="#contacts">write to us</a></li>
</ul>

<div id="fullpage">
    <div class="section" id="home-region"></div>
    <div class="section" id="about-region"></div>
    <div class="section" id="how-region"></div>
    <div class="section" id="input-region"></div>
    <div class="section" id="contacts-region"></div>
</div>

<div class="msnos-logo"><a href="#"><img src="/static_files/images/msnos.png"/></a></div>

<div id="logos">
    <img src="/static_files/images/logos/languages.png"/>
    <a href="http://www.workshare.com" target="_blank"><img src="/static_files/images/logos/workshare.png"/></a>
</div>

<a href="https://github.com/workshare/ms-nos"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                   src="https://camo.githubusercontent.com/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67"
                                                   alt="Fork me on GitHub"
                                                   data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png"></a>