<img src="/static_files/images/slides/monitor.png" />
<h1>Monitor your cloud:</h1>
<p>See in realtime where your services are.
<br>Have an updated view of their health status.
<br>Check directly their status just pointing at them.</p>
<input type="text" id="base-url-input" value="http://www.ms-nos.io">
<a href="#" id="trigger_map">map</a>