<img src="/static_files/images/slides/monitor.png" />
<h1>Monitor your cloud:</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit enim dolor, ac eleifend tellus auctor ut. Nam ultrices mollis ipsum, nec vehicula diam imperdiet a.</p>
<input type="text" id="base-url-input" value="http://www.ms-nos.io">
<a href="#" id="trigger_map">map</a>