<a href="#" class="toggle-this accordion-header"><span class="icon icon-share"></span> {{location.city}} {{location.country}} <span class="icon-chevron"></span> <span class="ring-uuid">{{uuid}}</span></a>

<div class="accordion-content">
    <div class="agents-container"></div>

</div>
