<a href="#"><span class="icon icon-share"></span> {{location.city}} {{location.country}} <span class="icon-chevron"></span> <span class="ring-uuid">{{uuid}}</span></a>

<div style="display:none;">
    <div class="agents-container"></div>

</div>
