<header>
    <h1>MSNOS</h1>

    <p>MSNOS is a library built in order to mantain and survive a microservice based architecture :)
        <br>Every microservice will surface spontaneously in a cloud, without the need of any application configuration.
        <br>An application level healtcheck is available to internal monitor the health on the services in the cloud.</p>
    <p><a href="https://github.com/workshare/ms-nos">https://github.com/workshare/ms-nos</a><br>Released under the MIT License. </p>

</header>
<ul id="items" class="accordion"></ul>