#about-region {

  h1 {
    font-size: 64px;
    color: #00adef;
    font-weight: 300;
  }

  p {
    font-size: 36px;
    padding: 0 25%;
    color: #3c3f78;
  }

  .fp-controlArrow {

    &.fp-next {
      border-color: transparent transparent transparent #00adef;
      margin-right: 10%;
    }

    &.fp-prev {
      border-color: transparent #00adef transparent transparent;
      margin-left: 10%;
    }
  }

}