
.menu {
  position: fixed;
  top: 32px;
  right: 128px;
  height: 40px;
  z-index: 70;
  width: 100%;
  text-align: right;
  margin:0;



  li {
    display: inline-block;
    padding: 0 16px;
    margin:0;

    a {
      color:#3c3f78;
      display: block;
      font-weight: 300;
      font-size: 22px;
      -webkit-transition: all .4s; /* Safari */
      transition: all .4s;
    }

    &.active {
      a{
        color: #00adef;
        font-size: 36px;
      }
    }

    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }

  }



}

.section {
  text-align: center;
}
