#home-region {




  .msnos-logo {
    background-image: url(../images/msnos.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    text-align: center;
    height: 146px;
    background-position-x: 50%;
    margin:32px 0;


    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;


  }

  h1 {
    margin: 0 25%;
    color:#3c3f78;
    position: relative;
  }

}


